
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rnfritz">
    <uses-permission android:name="android.permission.INTERNET" />
    <meta-data
        android:name="fritz_app_id"
        android:value="${fritz_app_id}"/>
    <application>
        <service
            android:name="ai.fritz.core.FritzCustomModelService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
  